
autom4te.cache
*.o
stamp-h1
.deps
.dirstamp
lib/kiss_fft129
**/Makefile
Makefile.in
aclocal.m4
build-aux
configure
config.log
config.h
config.h.in
config.status
odr-dabmod

__pycache__/
*.py[cod]
*$py.class
*.so
.Python

python/gui/logs/access.log
python/gui/logs/error.log
python/gui/static/dpd/*png
