<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>
    {% include 'body-nav.html' %}

    <div class="container-fluid">
        <div class="jumbotron">
            <h2>About</h2>
            <p>ODR-DabMod by <a href="http://opendigitalradio.org">Opendigitalradio</a></p>
            <h2>Authors</h2>
            <ul>
                <li>Pascal Charest</li>
                <li>Matthias P. Braendli</li>
                <li>Jörgen Scott</li>
                <li>Sergiy</li>
                <li>Andreas Steger</li>
            </ul>
            <p>Web interface by Matthias P. Braendli and Yoann Queret.</p>
            <p>Please see TODOs in the README.md</p>
        </div>
        <div class="container">
            <h2>Contributions</h2>
            <p>Please get in touch with the developers of this web interface
            through the crc-mmbTools google group or through
            <a href="https://github.com/Opendigitalradio/ODR-DabMod">the GitHub repository</a>.
            </p>
            <hr />
            <h2>Licence</h2>
            <p>
            ODR-DabMod is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.<br />
            <br />
            ODR-DabMod is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.<br />
            <br />
            You should have received a copy of the GNU General Public License along with ODR-DabMod.  If not, see http://www.gnu.org/licenses/<br />
            </p>
        </div>
    </div>
</body>

</html>

<!--
   Copyright (C) 2018
   Matthias P. Braendli, matthias.braendli@mpb.li

This file is part of ODR-DabMod.

ODR-DabMod is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ODR-DabMod is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ODR-DabMod.  If not, see <http://www.gnu.org/licenses/>.
-->


